---
import getLatestStream from "../../utils/getLatestStream";

const service = await getLatestStream('UC7toQ0WRsc4n220h0QYeRHw');
---
<ul>
  <li>{service.title} &middot; {service.actualStartTime}</li>
</ul>