---
import getLatestMessages from '../../utils/getLatestMessages';

const messages = await getLatestMessages();
---
<ul>
  {messages.map((message) =>
    <li>{message.title} &middot; {message.description} &middot; {message.series} &middot; {message.date}</li>
  )}
</ul>