---
import getLatestMessage from '../../utils/getLatestMessage';

const message = await getLatestMessage();
---
<ul>
  <li>{message.title} &middot; {message.description} &middot; {message.series} &middot; {message.date}</li>
</ul>