---
export interface Props {
  staff: Staff[]
}

interface Staff {
  name: string,
  description: string,
  image: string,
  url: string
}

const { staff } = Astro.props;
---

<div class="row">
  {staff.map((member) =>
    <div class="col-lg-3 col-6">
      <div class="andro_album style-2 sm">
        <div class="andro_album-img">
          <img class="andro_img-cover" src={member.image} alt="Leader Image" />
        </div>
        <div class="andro_album-content">
          <span class="andro_album-artist">{member.description}</span>
          <h5 class="andro_album-name">
            <a href={member.url}>{member.name}</a>
          </h5>
        </div>
      </div>
    </div>
  )}
</div>