---
import { getCollection } from 'astro:content';
import Page from '../layouts/Page.astro';
import RenderEntry from '../components/collections/RenderEntry.astro';

const sections = await getCollection('about');
---

<Page title="About Us" description="Lorem ipsum dolor sit amet" image="/assets/uploads/band-5.jpg">
  <div class="section">
    <div class="container">
      <div class="section-title text-center">
        <h2>Section <span class="fw-400 color-primary">Title</span></h2>
      </div>
      {sections.map((section) =>
        <div class="andro_show-d-content-wrap">
          <div class="andro_show-d-section">
            <h4 id="{{ item }}">{section.data.title}</h4>
            <RenderEntry entry={section} />
          </div>
        </div>
      )}
    </div>
  </div>
</Page>
