---
import Page from '../layouts/Page.astro';
import LatestMessage from '../components/collections/LatestMessage.astro';
import LatestMessages from '../components/collections/LatestMessages.astro';
import LatestService from '../components/collections/LatestService.astro';

// const messages = await getLatestMessages();
---

<Page title="Messages" description="">
    <h2>Latest Message</h2>
    <LatestMessage />
    <h2>Latest Service</h2>
    <LatestService />
    <h2>Messages</h2>
    <LatestMessages />
</Page>