---
import Page from '../../layouts/Page.astro';
import LatestMessages from '../../components/collections/LatestMessages.astro';
---

<Page title="All Messages" description="Latest messages." image="assets/uploads/sermon-3.jpg">
    <h2>Messages</h2>
    <LatestMessages />
</Page>