---
import { ADDRESS, SITE_TITLE } from '@consts';
import getNextSunday from '@utils/getNextSunday';
import FormattedDate from '@components/FormattedDate.astro';

export interface Props {
  image: string,
  description?: string | null
}

const { image, description = null } = Astro.props;

const nextSunday = getNextSunday();
---

<div class="andro_hero style-3">
  <div class="andro_hero-item dark-overlay bg-cover" style={`background-image: url(${image})`}>
    <div class="container">
      <div class="andro_hero-item-inner">
        <h1>{description || SITE_TITLE}</h1>
        <slot />
      </div>
    </div>
  </div>
</div>

<div class="section p-0 zindex-1">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="andro_event-countdown mt-negative bg-secondary">
          <div class="andro_event-countdown-date">
            <span><FormattedDate date={nextSunday} format="d" /></span>
            <div>
              <span><FormattedDate date={nextSunday} format="LLLL yyyy" /></span>
              <span>9AM &middot; 10:30AM &middot; 7:30PM (Online)</span>
            </div>
          </div>
          <div class="andro_event-countdown-name pb-lg-0 pb-3">
            <h5>Sunday Service</h5>
            <span>{ADDRESS}</span>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <!-- Wednesday Service Box -->
    <div class="row" style="margin-top: 1.5rem;">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="andro_event-countdown bg-secondary">
          <div class="andro_event-countdown-date">
            <span>17</span>
            <div>
              <span>DECEMBER 2025</span>
              <span>6:30PM</span>
            </div>
          </div>
          <div class="andro_event-countdown-name pb-lg-0 pb-3">
            <h5>Wednesday Service</h5>
            <span>104 MAIN ST, SPRINGFIELD, NE 68059</span>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>