---
export interface Props {
  title: string,
  image: string,
  parents?: Parent[]
}

interface Parent {
  title: string,
  url: string
}

const { title, image, parents = [] } = Astro.props;
---

<div class="andro_subheader style-4 bg-cover bg-center bg-norepeat dark-overlay dark-overlay-2" style={`background-image: url(${image || '/assets/img/subheader-7.jpg'})`}>
  <div class="container">
    <h1>{title}</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        {parents.map((parent) =>
          <li class="breadcrumb-item" aria-current="page"><a href={parent.url}>{parent.title}</a></li>
        )}
        <li class="breadcrumb-item active" aria-current="page">{title}</li>
      </ol>
    </nav>
  </div>
</div>